web/xml/goods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="goods" type="goodsType"/>
    <xs:complexType name="subCategoryType">
        <xs:sequence>
            <xs:element type="unitType" name="unit" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="unitType">
        <xs:sequence>
            <xs:element name="dateOfIssue">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="10"/>
                        <xs:pattern
                                value="(((0[1-9]|[12][0-9]|3[01])([-])(0[13578]|10|12)([-])(\d{4}))|(([0][1-9]|[12][0-9]|30)([-])(0[469]|11)([-])(\d{4}))|((0[1-9]|1[0-9]|2[0-8])([-])(02)([-])(\d{4}))|((29)(\.|-|\/)(02)([-])([02468][048]00))|((29)([-])(02)([-])([13579][26]00))|((29)([-])(02)([-])([0-9][0-9][0][48]))|((29)([-])(02)([-])([0-9][0-9][2468][048]))|((29)([-])(02)([-])([0-9][0-9][13579][26])))"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="color">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="black"/>
                        <xs:enumeration value="brown"/>
                        <xs:enumeration value="yellow"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:choice>
                <xs:element name="notInStock" type="xs:string"/>
                <xs:element name="price" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute ref="producer" use="required"/>
        <xs:attribute ref="model" use="required"/>
    </xs:complexType>
     <xs:attribute name="producer">
        <xs:simpleType>
            <xs:restriction base="xs:string">
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="model" >
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="5"/>
                <xs:pattern value="[a-zA-ZА-Яа-я]{2}[0-9]{3}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:complexType name="categoryType">
        <xs:sequence>
            <xs:element type="subCategoryType" name="subCategory" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required" />
    </xs:complexType>
    <xs:complexType name="goodsType">
        <xs:sequence>
            <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>